<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>ARCTIC - wait-list</title>
		<link
			href="/src/output.css"
			rel="stylesheet" />

		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
	</head>
	<body>
		<section class="h-screen">
			<div class="flex text-white items-center justify-center mt-10">
				<img
					src="/image/art.png"
					alt="" />
				<p class="text-white font-bold text-xl -ml-5">ADVENTURE</p>
			</div>

			<div class="flex flex-col items-center justify-center mt-20">
				<img
					src="/image/bear.png"
					alt=""
					class="w-24 h-24 md:w-ful md:h-full" />

				<button
					class="bg-gradient-to-r from-blue-900 via-blue-400 to-white text-black text-sm py-2 px-4 rounded hover:bg-blue-800 transition">
					Waitlist Joined
				</button>

				<div>
					<a
						href="https://x.com/ARCTICTOKEN1"
						class="text-blue-600 text-sm">
						Follow on X <span class="text-white">for more updates</span>
					</a>
				</div>
			</div>
		</section>

		<script src="/src/bg.js"></script>
	</body>
</html>
